<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="wrapper">
    <button type="submit" style="font-weight: bolder;" class="btn btn-success"><a th:href="@{/courses}">Add Courses</a></button></td>
	<button type="submit" style="font-weight: bolder;" class="btn btn-success"><a th:href="@{/faculty}">View All Faculties</a></button></td>
	<button type="submit" style="font-weight: bolder;" class="btn btn-success"><a th:href="@{/assigncourse}">Assign Course to Faculty</a></button></td>
</div>
</body>
</html>