<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin-Login</title>
</head>
<body>
<h1>Admin Login</h1>
<form th:action="@{/login}" th:object="${loginForm}" method="post" >
<label for="username">UserName:</label>
<input type="text" id="username" name="username" required="required"></input>

<label for="password">Password:</label>
<input type="password" id="password" name="password" required="required"></input>

<input type="submit" value="Login"></input>
</form>
</body>
</html>