<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/assign" method="post">
		<br>

<label for="courseName">CourseName:</label>
<input type="text" id="courseName" name="courseName" required="required"></input>

<label for="username">UserName:</label>
<input type="text" id="username" name="username" required="required"></input>
<td><button type="submit"
							style="font-weight: bolder; color: Red">Assign</button></td>
				</tr>>
		</form>
</body>
</html>