 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style type="text/css">
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 70%;
}
</style>
<title>Login</title>
</head>
<body>
<h1 align="center">College Management System</h1><br>
<div class="wrapper">
    <button type="submit" style="font-weight: bolder;" class="btn btn-success"><a th:href="@{/admin}">Admin Login</a></button></td>
	<button type="submit" style="font-weight: bolder;" class="btn btn-success"><a th:href="@{/faculty}">Faculty Login</a></button></td>
</div>
<div>

</div>
<div class="wrapper">
    <button type="submit" style="font-weight: bolder;" class="btn btn-success"><a th:href="@{/registration}">If you're not Registered ! Please Register here</a></button></td>
	</div>
</body>
</html>